{
    overflow: hidden;
}
.inputs-form{
   
    width: 800px;
    margin: auto;
    margin-top: 120px;
}
.inputs-form label{
    text-transform: uppercase;
}
button{
    background: #314755;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #26a0da, #314755);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #26a0da, #314755); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    outline: none;
    border: none;
    width: 300px;
}
.page-footer{
    margin-top: 120px;
}
